<div bis_skin_checked="1" class="p-3 col-12 col-md-6 col-lg-3">
<div bis_skin_checked="1" class="client-wrapper pt-5">
<div bis_skin_checked="1" class="wrap-img">
<a href="https://www.writemypaperforme.co.uk">
<img class="img-responsive clients-img" src="partners-logo/writemypaperforme-logo.png">
</a>
</div>
<div bis_skin_checked="1" class="card-box">
<a href="https://www.writemypaperforme.co.uk">www.writemypaperforme.co.uk</a>
<p style="font-size: 12px; padding-top: 7px; margin-bottom: 0px;">{{content}}</p>
</div>
</div>
</div>
