<div class="p-3 col-12 col-md-6 col-lg-3" bis_skin_checked="1">
<div class="client-wrapper pt-5" bis_skin_checked="1">
<div class="wrap-img" bis_skin_checked="1">
    <a href="http://www.matlabassignmenthelp.co.uk">
<img alt="MATLAB assignment Logo" class="img-responsive clients-img" src="partners-logo/matlabassignmenthelp-logo.png" style="
    background-color: black;">
    </a>
</div>
<div class="card-box" bis_skin_checked="1">
<a href="http://www.matlabassignmenthelp.co.uk">{{content}}</a>
<p style="font-size: 12px; padding-top: 7px; margin-bottom: 0px;"></p>
</div>
</div>
</div>
